@keyframes wipe-up-out {
	0% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 0 100% 0);
	}
}

@keyframes wipe-up-in {
	0% {
		opacity: 1;
		clip-path: inset(100% 0 0 0);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}