:root {
	--key-color: deeppink;
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
		arial, sans-serif;
	font-weight: 400;
	font-size: 2rem;
	
	color: oklch(from var(--key-color) 0.3 0.2 h);
	background-color: oklch(from var(--key-color) 1 0.2 h);
	background-image: linear-gradient(
		to bottom right,
		oklch(from var(--key-color) 1 0.2 h),
		oklch(from var(--key-color) 0.6 0.2 h)
	);
}

h1 {
	font-size: 2em;
	margin: 0;
}

a {
	position: absolute;
	opacity: 0;
}
