@import "./slide-layout.css";
@import "./animations.css";

@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
	::view-transition-group(root) {
		animation-duration: 1s;
	}
	::view-transition-old(root) {
		animation-name: wipe-left-out;
	}

	::view-transition-new(root) {
		animation-name: wipe-left-in;
	}

	h1 {
		view-transition-name: headline;
	}

	::view-transition-group(headline) {
		animation-duration: 1.5s;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	::view-transition-old(headline) {
		animation-name: flip-x-out;
	}

	::view-transition-new(headline) {
		animation-name: flip-x-in;
	}

	[aria-keyshortcuts="ArrowLeft"] {
		view-transition-name: ArrowLeft;
	}

	[aria-keyshortcuts="ArrowRight"] {
		view-transition-name: ArrowRight;
	}
}
