@keyframes turn-x-in{
	0%{
		rotate: x -90deg;
		opacity: 0;
	}
	100%{
		rotate: x 0deg;
		opacity: 1;
	}
}

@keyframes turn-x-out{
	0%{
		rotate: x 0deg;
		opacity: 1;
	}
	100%{
		rotate: x 90deg;
		opacity: 0;
	}
}

@keyframes turn-y-in{
	0%{
		rotate: y -90deg
	}
}
@keyframes wipe-up-out {
	0% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 0 100% 0);
	}
}


@keyframes wipe-up-in {
	0% {
		opacity: 1;
		clip-path: inset(100% 0 0 0);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}

@keyframes wipe-left-in {
	0% {
		opacity: 1;
		clip-path: inset(0 0 0 100%);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}

@keyframes wipe-left-out {
	0% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
	100% {
		opacity: 1;
		clip-path: inset(0 100% 0 0);
	}
}



@keyframes flip-x-in {
  0%,50% {
    transform: perspective(400px);
	rotate: x -90deg;
  }
  100% {
	rotate: x 0deg;
  }
}

@keyframes flip-x-out {
  from {
    transform: perspective(400px);
	rotate: x 0deg;
  }

  50%,100% {
	rotate: x 90deg;
  }
}