:root{
      --spring-easing: linear(
    0, 0.035, 0.141 4.4%, 0.723 12.9%, 0.938, 1.077 20.4%, 1.149 24.3%, 1.163 27%,
    1.154 29.9%, 1.017 43.1%, 0.991, 0.977 51%, 0.975 57.1%, 1.003 76.9%, 1
  );

    --bounce-easing: linear(
    0, 0.02, 0.06, 0.14, 0.25, 0.39, 0.56 27%, 1 36%, 0.89, 0.81, 0.77, 0.75,
    0.77, 0.81, 0.89, 1, 0.95, 0.94, 0.95, 1, 0.98, 1
  );
}