@media (prefers-reduced-motion: no-preference) {

@keyframes flip-in{
	0%, 50%{
		rotate: var(--axis) -90deg;
		translate: 0 0 -30cqi;
        filter: brightness(0.3);
	}
	100%{
		rotate: var(--axis) 0deg;
		scale:1;
	}
}

@keyframes flip-out{
	0%{
		rotate: var(--axis) 0deg;
		scale:1;
		translate: 0 0 0;
	}
	50%,100%{
		translate: 0 0 -30cqi;
		rotate: var(--axis) 90deg;
        filter: brightness(1.5);
	}
}

:active-view-transition-type(flip-block),
:active-view-transition-type(flip-block-reverse),
:active-view-transition-type(flip-inline),
:active-view-transition-type(flip-inline-reverse)  {
    
 
    
    &::view-transition-group(root) {
		animation-duration: 1s;
		background-color: black;
        container-type: inline-size;
		background-image: linear-gradient(#456, #123);
	}
    
	&::view-transition-image-pair(root) {
	    perspective: 200cqi;
        --axis: x;
	}
	
	&::view-transition-old(root) {
          
		animation-name: flip-out;
		animation-timing-function: ease-in;
	}
	&::view-transition-new(root) {
		animation-name: flip-in;
		animation-timing-function: ease-out;
	}
}

:active-view-transition-type(flip-block-reverse),
:active-view-transition-type(flip-inline-reverse) {
	&::view-transition-old(root) {
		animation-name: flip-in;
		animation-timing-function: ease-out;
		animation-direction: reverse;
	}
	&::view-transition-new(root) {
		animation-name: flip-out;
		animation-timing-function: ease-in;
		animation-direction: reverse;
	}
}

:active-view-transition-type(flip-inline-reverse),
:active-view-transition-type(flip-inline){
    &::view-transition-image-pair(root) {
         --axis: y;
    }
}

@keyframes push-out {
    100%{
        translate: calc(-100% * var(--x-axis))  calc(-100% * var(--y-axis));
    }
}

@keyframes push-in {
    0%{
        translate: calc(100% * var(--x-axis))  calc(100% * var(--y-axis));
    }
}


:active-view-transition-type(push-inline),
:active-view-transition-type(push-inline-reverse),
:active-view-transition-type(push-block),
:active-view-transition-type(push-block-reverse) {



    &::view-transition-group(root) {
		animation-duration: 1s;
        animation-timing-function: ease-in-out;
        overflow: hidden;
        --x-axis:1;
        --y-axis:0;
	}

	&::view-transition-old(root) {
		animation-name: push-out;
	
	}
	&::view-transition-new(root) {
		animation-name: push-in;
	}
}

:active-view-transition-type(push-inline-reverse),
:active-view-transition-type(push-block-reverse) {	
	&::view-transition-old(root) {
		animation-name: push-in;
        animation-direction: reverse;
	}
	&::view-transition-new(root) {
		animation-name: push-out;
         animation-direction: reverse;
	}
}

:active-view-transition-type(push-block),
:active-view-transition-type(push-block-reverse){
        &::view-transition-group(root) {
        --x-axis:0;
        --y-axis:1;
	}

}
}
